.nav__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Три равные колонки */
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
  background-color: #1c1743;
  position: fixed;
  bottom: 8px;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 95%;
  padding: 2px 0;
  border-radius: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav__menu a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
}

.nav__menu a:hover {
  background-color: #3b2d6b;
}
