body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292459;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 22px 0;
}

.case img {
  justify-self: center; /* Центрирование каждого изображения по горизонтали */
}
.cases__item {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.case__current-price {
  font-size: 12px;
  line-height: 20px;
  color: #7ed321;
}
