body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292459;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 22px 0;
}

.case img {
  justify-self: center; /* Центрирование каждого изображения по горизонтали */
}
.cases__item {
  text-align: center;
}
.case__name {
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.case__current-price {
  font-size: 12px;
  line-height: 20px;
  color: #7ed321;
  font-weight: 500;
}

/*  */
.cases-section__title {
  margin: 40px 0 16px;
}
.new-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.new-title_with-icon:before {
  display: block;
  position: relative;
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 14px;
  flex: none;
}
.new-title_icon-rarity:before {
  background-image: url("https://forcedrop.win/public/img/new-title/rarity.svg");
}
.new-title__text {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
